@model List<ProjectPortfolio.Models.Category>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class=" mb-4">Kategori Listesi</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Aktiflik Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/CreateCategory/" class="btn btn-info">Yeni Kategori Girişi </a>