@model ProjectPortfolio.Models.SocialMedia


@{
    ViewBag.Title = "CreateSocial";
    Layout = "~/Views/Admin/Index.cshtml";
}




<h2 class=" mb-4">Sosyal Medya Ekle</h2>
<br />

<form method="post">
    <label>Kategori Adı</label>
    <!--Inputtan farkı. Name e için hata olasılıpını azaldır. her seferinde sqle gitmeye gerek kalmaz-->
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Aktiflik Durumu</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <label>Logo</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">Kategori Oluştur</button>
</form>

