@model ProjectPortfolio.Models.Experience
@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class=" mb-4">Deneyim Listesi</h2>
<br />

<form method="post">
    <label>Şirket Adı</label>
    <!--Inputtan farkı. Name e için hata olasılıpını azaldır. her seferinde sqle gitmeye gerek kalmaz-->
    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" ,@required = "required" })
    <br />

    <label>İş Tarihi</label>
    @Html.TextBoxFor(x => x.WorkDate, new { @class = "form-control", @required = "required" })
    <br />

    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @required = "required" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description,6,0, new { @class = "form-control", @required = "required" })
    <br />

    <button class="btn btn-info">Deneyimi Oluştur</button>
</form>

