
@{
    ViewBag.Title = "PartialGrafficc";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yetenek Grafiği</h2>
<br />

<!-- Grafiği görüntüleyen img etiketi -->
<div>
    <img src="@Url.Action("PartialGraffic", "Graffics")" alt="Yetenek Grafiği" />
</div>